@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white dark:bg-near-darker text-gray-900 dark:text-gray-100 transition-colors duration-300;
    font-family: 'Poppins', sans-serif;
  }
}

